@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_base.scss';

@font-face {
    font-family: vazir;
    src: url('../assets/fonts/Vazir-FD.woff2');
    font-weight: normal;
}
@font-face {
    font-family: vazir;
    src: url('../assets/fonts/Vazir-Bold-FD.woff2');
    font-weight: bold;
}

body{
    font-family: vazir,sans-serif;
    background-image: url('../assets/images/feathers.png');
}

.container {
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}