@tailwind base;
@tailwind components;
@tailwind utilities;

@import '_base.scss';

@font-face {
    font-family: vazir;
    src: url('../assets/fonts/Vazir-FD.woff2');
    font-weight: normal;
}
@font-face {
    font-family: vazir;
    src: url('../assets/fonts/Vazir-Bold-FD.woff2');
    font-weight: bold;
}

body{
    font-family: vazir,sans-serif;
    background-image: url('../assets/images/feathers.png');
}
