@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .clearfix{
    &::after,&::before{
      content:"";
      display:table;
      clear: both;
    }
  }
}

@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("vazir"),
    url("../assets/fonts/Vazir-Light-FD.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: local("vazir"), url("../assets/fonts/Vazir-FD.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("vazir"),
    url("../assets/fonts/Vazir-Medium-FD.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: "vazir";
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: local("vazir"), url("../assets/fonts/Vazir-Bold-FD.woff2") format("woff2"); /* Chrome 26+, Opera 23+, Firefox 39+ */
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  font-family: vazir , sans-serif;
  background-image: url('../assets/images/bg.png');
}

.main-content {
  min-height: calc(100vh - 290px);
}

.ant-pagination .ant-pagination-item {
  font-family: 'vazir';
}